[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Reddit
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly --profile-directory=Default --app-id=lgnggepjiihbfdbedefdhcffnmhcahbm
Icon=brave-lgnggepjiihbfdbedefdhcffnmhcahbm-Default
StartupWMClass=crx_lgnggepjiihbfdbedefdhcffnmhcahbm
