[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=MangaFire
Exec=/opt/brave.com/brave-origin-nightly/brave-origin-nightly --profile-directory=Default --app-id=ookdhoeflokphaahemjbhjghplncfnkc
Icon=brave-ookdhoeflokphaahemjbhjghplncfnkc-Default
StartupWMClass=crx_ookdhoeflokphaahemjbhjghplncfnkc
