[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pkmn Chess
Exec=/opt/vivaldi-snapshot/vivaldi-snapshot --profile-directory=Default --app-id=annjiffkeeblfmggbjnfhfoibclpomga
Icon=vivaldi-annjiffkeeblfmggbjnfhfoibclpomga-Default
StartupWMClass=crx_annjiffkeeblfmggbjnfhfoibclpomga
