[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gemini
Exec=/opt/vivaldi-snapshot/vivaldi-snapshot --profile-directory=Default --app-id=gdfaincndogidkdcdkhapmbffkckdkhn
Icon=vivaldi-gdfaincndogidkdcdkhapmbffkckdkhn-Default
StartupWMClass=crx_gdfaincndogidkdcdkhapmbffkckdkhn
