[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ProtonDB
Exec=/opt/vivaldi-snapshot/vivaldi-snapshot --profile-directory=Default --app-id=nmmlaomkbbeanlcilfgmnjkpjmmfbomg
Icon=vivaldi-nmmlaomkbbeanlcilfgmnjkpjmmfbomg-Default
StartupWMClass=crx_nmmlaomkbbeanlcilfgmnjkpjmmfbomg
